if loadfont /boot/grub/font.pf2
then
  set gfxmode=auto
  insmod efi_gop
  insmod efi_uga
  insmod gfxterm
  terminal_output gfxterm
fi

set theme=/boot/grub/theme.cfg

menuentry "Sana Desktop" {
  set gfxpayload=keep
  linux /live/vmlinuz boot=live quiet
  initrd /live/initrd.img
}


